@model SharpDevelopMVC4.Models.Product

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Regiter New Clinic</h2>
<br>
<hr/>
<form action="/crudsample/Create" method="post" enctype="multipart/form-data" class="form-horizontal">
<div class="row">
<div class="col-md-4">
<div style=" overflow: scroll; height: 500px; width: 300px">
    
    	@Html.AntiForgeryToken()
    	
        <fieldset>
            
            @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
            {                   
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
				  @Html.ValidationSummary(true)
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>                    
			}
           
            <!-- Text input-->
            <div class="form-group">
                <label >Vets Name <label style="color:red">*</label></label>
             
                    <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control input-md" required>
                
            </div>            


            

            <div class="form-group">
                <label  >Address <label style="color:red">*</label></label>
                
                    <input type="text" id="" name="Address" value="" placeholder="Street Brgy" class="form-control input-md" required>
                    <input type="text" id="" name="AddCity" value="" placeholder="Example City" class="form-control input-md" required>
               
            </div>
            

            <div class="form-group">
                <label >Contact Info <label style="color:red">*</label></label>
                
                    <input type="text" id="Unit" name="contactInfo" value="" class="form-control input-md">
             
            </div>
            
            
             <div class="form-group">
                <label for="">Time Schedule <label style="color:red">*</label></label>
                
                    <input type="text" id="Unit" name="Unit" value="" class="form-control input-md">
               
            </div>
    

			<!-- File Upload -->
            <div class="form-group">
                <label  for="fileUpload">Photo <label style="color:red">*</label></label>
               
                    <input type="file" accept="image/*" id="fileUpload" name="fileUpload" class="form-control input-md">
                
            </div>
            <br>
            <hr/>
            
              <div class="form-group">
                    <label >User Name <label style="color:red">*</label></label>
                  
                    <input class="form-control" type="text" id="UserName" name="UserName" minlength="8" required/>
               
               </div> 
                
                <div class="form-group">
                    <label >Password <label style="color:red">*</label></label>
               
                    <input class="form-control" type="Password" id="Password" name="Password" pattern=".{8,12}" required title="8 to 12 characters" required/>
              
               </div>
                
                 <div class="form-group">
                    <label >Retype Password <label style="color:red">*</label></label>
                   
                    <input class="form-control" type="Password" id="Password" name="RetypePassword" required/>
               
               </div> 

            <!-- Button -->
            <div class="form-group">
                <label  for="singlebutton"></label>
               
                    <button type="submit" class="btn btn-primary btn-lg" onclick="return ('Your Subsiomison wil send and wait for Approval')">Register</button>
               
            </div>

        </fieldset>
   
  </div>
 </div>
 
 
 
   <div class="col-md-6">
                <h3 class="card-title">Payment Approval</h3>
                <div class="form-group">
                    <label>Name on Card <label style="color:red">*</label> </label>
                    <input class="form-control" type="text" id="" name="Cardname" required/>
                </div>
                
                  <div class="form-group">
                    <label>Card Number <label style="color:red">*</label></label>
                    <input class="form-control" Placeholder="123 3434 4343 5656" type="number" id="" name="Cardnum" required/>
                </div>
                
                
                 <div class="form-group">
                    <label>CV CODE <label style="color:red">*</label></label>
                    <input class="form-control"  Placeholder="000" type="number" id="" name="Cvcode" required/>
                </div>
                
                
                  <div class="form-group">
                    <label>Expiry Date <label style="color:red">*</label> </label>
                    <input class="form-control" type="month" id="Followupdate" name="Datexpire" required/>
                </div>
                
                <div class="form-group">
                <input type="checkbox" id="vehicle1" name="Terms" value="Agree">
                <label for="vehicle1"><a href="#">Term and condition</a></label><br
                </div>
                
  </div>
  </form>

 

</div>