@{
	ViewBag.Title = "AdminReg";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @if (Request.IsAuthenticated)
     {
<h2>Register new admin</h2>
<br>

<div class="row">
    <div class="col-md-4">
        <section>
        
            <form action="/account/AdminReg" method="post">
            	 
            	 <div class="form-group">
                    <label >First Name <label style="color:red">*</label></label>
                    <input class="form-control" type="text" id="FirstName" name="FirstName" required />
                </div>  
               
               <div class="form-group">
                    <label >Last Name <label style="color:red">*</label></label>
                    <input class="form-control" type="text" id="LastName" name="LastName" required/>
                </div>
                

                <div class="form-group">
                    <label >User Name <label style="color:red">*</label></label>
                    <input class="form-control" type="text" id="UserName" name="UserName" required/>
                </div>
                <div class="form-group">
                    <label >Password <label style="color:red">*</label></label>
                    <input class="form-control" type="Password" id="Password" name="Password" pattern=".{8,12}" required title="8 to 12 characters" required/>
                </div>
                 <div class="form-group">
                    <label for="password">Retype Password <label style="color:red">*</label></label>
                    <input class="form-control" type="Password" id="Password" name="RetypePassword" required/>
                </div>
               
               
               
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                     <a href="/Home/index" class="btn btn-secondary ">Back</a>
                </div>
                <div class="form-group">
                   <p>@ViewBag.message</p>
                   <p style="color:red">@ViewBag.messages</p>
                </div>				               
            </form>
            
        </section>
    </div>


</div>
}