@model List<SharpDevelopMVC4.Models.Pet>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @if (Request.IsAuthenticated)
     {
<h2>Index</h2>
  if(Model == null)
  {
  
   <p>Null</p>
  }
 <table class="table table-hover">
        <thead>
            <tr>
                
                <th>PetName</th>
               
                 
                <th>Breed</th>
                <th>Type</th>
                <th>Color</th>
                <th>Action</th>
                 
                 
            </tr>
        </thead>
        <tbody>
			@foreach(var product in Model)
			{
	            <tr>
	                
	                <td>@product.PetName</td>
	               
	                <td>@product.Breed</td>
	                <td>@product.Type</td>
	                <td>@product.Color</td>
	                
	                 <td> 
	                 <a href="/pet/Edit/@product.Id" class="btn btn-warning btn-sm">Edit</a>
	                 <a href="/pet/Delete/@product.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
	                 </td>
	                 
	                 
	                 
	            </tr>
			}
        </tbody>
    </table>
    }